@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <img src="~/image/43084576_108196286824670_3381851789966966784_o.jpg" width="1000" height="200" class="d-inline-block align-top" alt="">

    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>

    <p>

        Fenêtres Magistral est une entreprise québécoise ambitieuse <br/>
        et avant-gardiste qui désire s’imposer comme chef de file du <br/>
        secteur des portes et fenêtres en PVC et hybrides au Québec. <br/>
        Les fondateurs de l’entreprise travaillent sans relâche afin d’offrir <br/>
        un service inégalé et des produits qui surpassent les normes de l’industrie.<br/>

        Notre siège social et nos usines de fabrication sont situés à Blainville,<br/>
        et nous comptons sept salles de montre où vous pouvez rencontrer nos conseillers<br/>
        pour faire le choix de vos portes et fenêtres à Blainville, Laval , Repentigny ,<br/>
        Saint-Hubert, Pointe-Claire, St-Léonard et La Prairie. Nous offrons une gamme de <br/>
        produits variés au rendement écoénergétique élevé, tant aux entrepreneurs qu’aux particuliers.
    </p>
</div>