@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>

    <div class="jumbotron">
        <img src="~/image/43084576_108196286824670_3381851789966966784_o.jpg" width="1050" height="500" class="d-inline-block align-top" alt="">
        <style>
            img {
                max-width: 100%;
                height: auto;
            }
        </style>
    </div>

    <address>
        705 Boulevard Industriel<br />
        Blainville, QC CANADA <br />
        <abbr title="Phone">P:</abbr>
        450 433 8733
    </address>

</div>