
@{
    ViewBag.Title = "Site Inventaire matériel informatique";
}
    <div>

        <div class="jumbotron">
            <img src="~/image/43084576_108196286824670_3381851789966966784_o.jpg" width="1200" height="750" class="d-inline-block align-top"
                 alt="">
            <style>
                img {
                    max-width: 100%;
                    height: auto;
                }
            </style>
            <h1>Bienvenue </h1>
        </div>
        

        
    </div>